{% extends "auth.html.twig" %}
{% block title %} Authentification {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="row">
    <div class="col-lg-6">
            <span><img src="{{ asset('resources/images/signin.svg') }}"
                       alt="MAMIAS 3.0"></span>
    </div>
    <div class="col-lg-6">
        <div class="wrapper-page">
            <div class="property-card">
                <div class="text-center account-logo-box">
                    <h2 class="text-uppercase">
                        <a href="{{ path('home') }}" class="text-success">
                                            <span><img src="{{ asset('resources/logo/Logo-Mamias-web.png') }}"
                                                       alt="MAMIAS 3.0"></span>
                        </a>
                    </h2>

                </div>
                <div class="property-content">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': '' } }) }}
                    {{ form_widget(form) }}

                    <div class="m-t-20">
                        <button
                                class="btn btn-block w-md btn-bordered btn-primary waves-effect waves-light m-t-10"
                                type="submit">{{ 'change_password.submit'|trans }}</button>

                        <div>

                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-sm-12 text-center">
                    <a href="{{ path('home') }}">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
    {% endblock %}
